@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
 max-width:1440px;
margin: 0px auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
    width: 62px;
}
.name{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size:2rem;
font-weight: 700;
margin-left: -235px;
}
.menu button{
width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(254, 163, 1);
padding: 10px;
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.menu-img{
    display: none;
    margin-left: -100px;
}
.nav-link{
    width: 387px;
height: 30px;
display: flex;
gap: 32px;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    text-decoration: none;
}
.a-size{
    font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
}
.color-1{
    color: rgb(254, 163, 1);
}
.color-2{
    color: rgb(1, 172, 253);
}
.color-3{
    color: rgb(5, 212, 223);
}
.color-4{
    color: rgb(93, 88, 239);
}
.banner{
    max-width: 1440px;
    margin: 18px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.banner-container{
    max-width: 640px;
margin: auto 0px;
}
.banner-container h2{
    font-family: Quicksand;
font-size: 3.5rem;
font-weight: 700;
}
.banner-container p{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 400;
margin-top: 24px;
}
.banner-container button{
    width: 197px;
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
text-align: center;
border-radius: 12px;
background: rgb(17, 17, 17);
margin-top: 24px;
padding: 20px;
border: none;
}
.banner-img{
width: 100%;
}
main{
    max-width: 1440px;
    margin: 0px auto;
    background-image: url(../assets/bg.png);
}
.curriculum-title{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 2.875rem;
font-weight: 700;
text-align: center;
}
.curriculum-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.kinder{
    width: 367.8px;
    height: 476.78px;
    margin-left: 10px;
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.kinder img{
    max-width: 130.7px;
    padding: 60px 120px 0px 120px;
}
.kinder h3{
    color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 1.5325rem;
font-weight: 700;
text-align: center;
}
.kinder p{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 0.943125rem;
font-weight: 500;
text-align: center;
}
.kinder h5{
    color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 0.943125rem;
font-weight: 700;
text-align: center;
margin-top: 50px;
}
.elementary{
    width: 367.8px;
    margin-left: 10px;
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elementary img{
    max-width: 130.7px;
    padding: 60px 120px 0px 120px;
}
.elementary h3{
    color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 1.5325rem;
font-weight: 700;
text-align: center;
}
.elementary p{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 0.943125rem;
font-weight: 500;
text-align: center;
}
.elementary h5{
    color: rgb(240, 170, 0);
font-family: Quicksand;
font-size: 0.943125rem;
font-weight: 700;
text-align: center;
margin-top: 50px;
}
.middle{
    width: 367.8px;
    box-sizing: border-box;
    margin-left: 10px;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle img{
    max-width: 130.7px;
    padding: 60px 120px 0px 120px;
}
.middle h3{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.5325rem;
    font-weight: 700;
    text-align: center;
}
.middle p{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 0.943125rem;
font-weight: 500;
text-align: center;
}
.middle h5{
    color: rgb(135, 0, 255);
font-family: Quicksand;
font-size: 0.943125rem;
font-weight: 700;
text-align: center;
margin-top: 50px;

}
.arrow{
   margin-right: -900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow img:hover{
    background-color: aqua;
}
.stories{
    max-width: 1440px;
    margin: 0px auto;
    background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

.stories-title{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 2.875rem;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
}
.story-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 130px;

}
.classroom{
    max-width: 540.27px;
    height: 622.4px;

}
.box{
    max-width: 576px;
    height: 576px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.box-1{
    max-width: 290.69px;
height: 301.61px;
background: rgb(255, 255, 255);
}
.box-2{
    border-radius: 16px;
}
.classroom{
    background: rgb(255, 255, 255);
}
.classroom img{
    border-radius: 16px 16px 0px 0px;
}
.classroom h5{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 1.5rem;
font-weight: 700;
text-align: left;
margin-left: 40px;
}
.date-1{
    max-width: 174.51px;
    height: 47.93px;
    border-radius: 47.93px;
background: rgb(60, 216, 232);
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: .95875rem;
font-weight: 500;
text-align: center;
margin: -100px 0px -100px 38px;
border: none;
padding: 10px 15px;
}
.classroom p{
    color: rgb(102, 102, 102);
font-family: Raleway;
font-size: .95875rem;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-left: 40px;
}
.date-2{
    max-width: 174.51px;
height: 38.35px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size:.95875rem;
font-weight: 500;
text-align: center;
padding: 10px 15px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
margin: -900px 0px -100px 38px;
border: none;
}
.image{
    border-radius: 16px 16px 0px 0px;
}
.h4{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: .95875rem;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-left: 40px;
}
.view{
    max-width: 197px;
    height: 50px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
text-align: center;
padding: 10px 40px;
margin: 80px 600px 50px 600px;
}
.footer{
    max-width: 1440px;
    height: 519px;
    margin: 0px auto;
    background: rgb(1, 172, 253);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kid{
    display: flex;
    flex-direction: row;
    margin-top: -60px;
}
.kid img{
    margin-top: 53px;
    margin-right: 10px;
}
.kid h4{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 2.633rem;
text-align: left;
}
.education p{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
margin-top: -10px;
}
.about h3{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.5rem;
font-weight: 700;
text-align: left;

}
.about li{
    list-style: none;
    margin: 20px 0px;
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size:1.25rem;
font-weight: 500;
text-align: left;
margin-left: -40px;
}
.touch h3{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.625rem;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-top: -100px;
}







@media screen and (max-width:576px) {
    .name,
    .nav-link{
        visibility: hidden;
    }
    .banner{
        flex-direction: column;
    }
    .navbar{
        box-sizing: border-box;
border: 0.5px solid rgb(254, 163, 1);
    }
    .menu-img{
        display: block;
    }
    .menu button{
        display: none;
    }
    .banner-container{
        text-align: center;
    }
    .small{
   
    }
    .curriculum-item{
        grid-template-columns: repeat(1,1fr);
        /* margin: 0 80px; */
        
    }
    .arrow{
        display: none;
    }
    .classrooms{
        display: none;
    }
    .box{
        margin-left: -150px;
       width: 100%;
       gap: 5px;
       grid-template-columns: repeat(2,291px);
    }
    .view{
      margin: 100px 200px 50px 150px;
    }
    .footer{
        height: 700px;
        flex-direction: column;
    gap: 50px;
    }
    .education{
        margin-left: -100px;
    }
    .about{
        margin-top: -120px;
        margin-left: -320px;
    }
    .touch{
        margin-left: -300px;
    }
}






































